<h1>PROFILE ESPECIALLY FOR YOU </h1>

{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p>This is your profile page my friend!</p>

  <br /><br />

  {{#if userIsLoggedIn}}
    <p>Logged in as {{user.username}}</p>
    <a href="/private">Go to private section</a>
    <a href="/main">See the special message for you</a>
  {{else}}
    <p>You are not logged in</p>
  {{/if}}

  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
{{else}}

  <br /><p>Still no logged in user, sorry!</p>

{{/if}}